<template>
  <div class="home relative w-screen">
  	<div class="earth-image absolute opacity-20 z-20" />
    <div class="flex flex-col relative w-full h-full px-6 md:px-0 justify-center items-center z-40">
    	<div class="flex max-w-sm sm:max-w-xl   md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mb-12 text-4xl sm:text-5xl md:text-5xl lg:text-6xl xl:text-7xl text-center font-semibold rainbow py-4 leading-xl "> <!-- mt-28 md:mt-56 -->
    		<!--weekly prose about music production, composition and sound design-->
    		weekly prose about production, sound design and song-writing techniques for electronic music
    	</div>

    	<p class="max-w-xl text-xl md:text-2xl  md:px-0 lg:max-w-3xl xl:max-w-5xl text-center mb-16 leading-9 md:leading-10">The goal of this blog is to enrich your assortment of music production techniques, lay out some common patterns and maybe also inspire you a bit along the way.</p>

    	<div class="flex flex-row w-full justify-center">
    		<router-link to="/" class="w-full py-3 sm:w-auto sm:py-4 sm:px-6 flex text-xl justify-center items-center bg-blue-900 text-blue-100 rounded-lg">
	    		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass mr-4 text-blue-300 cursor-pointer"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>

	    		<span class="">Explore articles</span>
	    	</router-link>
    	</div>
    </div>

	<!--<svg viewBox="0 0 2481 123" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="bow w-full absolute bottom-0" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
	    <g transform="matrix(1,0,0,1,0,-2360.67)">
	        <g transform="matrix(1,0,0,0.70845,0,0)">
	            <g transform="matrix(1,0,0,1.41153,0,0)">
	                <path d="M1240.16,2485.15C1684.71,2485.15 2105.55,2440.4 2480.32,2360.67L2480.32,2485.15L1240.16,2485.15ZM0,2360.67C374.768,2440.4 795.608,2485.15 1240.16,2485.15L0,2485.15L0,2360.67Z" style="fill: #000016;"/>
	            </g>
	        </g>
	    </g>
	</svg>-->

	<svg class="w-full absolute bottom-0" viewBox="0 0 2481 469" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
	    <g transform="matrix(1,0,0,1,-0.00954618,40.5345)">
	        <g transform="matrix(1.00024,0,0,3.42555,0.00954618,-8082.86)">
	            <g transform="matrix(1,0,0,1.10376,8.4285e-14,-257.862)">
	                <g id="g837">
	                    <g id="g835">
	                        <path id="path833" d="M1240.16,2485.15C1684.71,2485.15 2105.55,2440.4 2480.32,2360.67L2480.32,2485.15L1240.16,2485.15ZM0,2360.67C374.768,2440.4 795.608,2485.15 1240.16,2485.15L0,2485.15L0,2360.67Z" style="fill: #000016;"/>
	                    </g>
	                </g>
	            </g>
	        </g>
	    </g>
	</svg>


  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style lang="scss" scoped>
@media (max-width: 639px) {
	.leading-xl {
		line-height: 3rem !important;
	}

	.earth-image {
		background-size: 250vw;
	}
}

@media (min-width: 640px) {
	.leading-xl {
		line-height: 4rem !important;
	}

	.earth-image {
		background-size: 150vw;
	}
}
@media (min-width: 768px) {
	.leading-xl {
		line-height: 4.5rem !important;
	}

	.earth-image {
		background-size: 150vw;
	}
}

@media (min-width: 1024px) {
	.leading-xl {
		line-height: 4.5rem !important;
	}

	.earth-image {
		background-size: 100vw;
	}
}

@media (min-width: 1280px) {
	.leading-xl {
		line-height: 6rem !important;
	}

	.earth-image {
		background-size: 75vw;
	}
}

.bg-brighter-blue {
	background: mix(#000, #00003d, 60%);
}

$earth-bg-width: 150vw;

.earth-image {
	background-image: url("/images/earth.png");
	//background-size: 150vw;
	background-repeat: no-repeat;
	background-position: bottom center; 

	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.home {
	//background-color: darken(#00003d, 3%);
	height: calc(100vh);
}
	.rainbow {
		background: linear-gradient(to top right, 
			lighten(#ff1e72, 10%),
			lighten(#cd6a00, 10%), 
			lighten(#a28100, 10%), 
			lighten(#7c8d00, 10%), 
			lighten(#009b08, 10%),
			lighten(#009776, 10%),
			lighten(#009494, 10%),
			lighten(#0091b2, 10%),
			lighten(#2681ff, 10%),
			lighten(#c348ff, 10%),
			lighten(#c348ff, 10%),
			lighten(#f200d1, 10%),
			lighten(#ff0c8b, 10%),
		);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
</style>
