<template>
  <div class="footer flex flex-col">
    <div class="flex flex-col md:grid md:grid-cols-2 xl:flex xl:flex-row pt-24 pb-16 px-8 lg:px-20 xl:px-24 w-auto justify-between">
      <div class="flex flex-col pb-16 xl:pb-0">
        <h2 class="text-2xl font-medium">Production</h2>

        <div class="flex flex-col mt-4">
          <router-link to="/" :class="[linkClasses]">Mixing Guides</router-link>
          <router-link to="/" :class="[linkClasses]">Mastering Guides</router-link>
          <router-link to="/" :class="[linkClasses]">Commerce</router-link>
          <router-link to="/" :class="[linkClasses]">Insights</router-link>
        </div>
      </div>

      <div class="flex flex-col pb-16 xl:pb-0">
        <h2 class="text-2xl font-medium">Mixing & Mastering</h2>

        <div class="flex flex-col mt-4">
          <router-link to="/" :class="[linkClasses]">FAQ</router-link>
          <router-link to="/" :class="[linkClasses]">Guides</router-link>
          <router-link to="/" :class="[linkClasses]">Open a ticket</router-link>
          <router-link to="/" :class="[linkClasses]">API Status</router-link>
        </div>
      </div>

      <div class="flex flex-col pb-16 xl:pb-0">
        <h2 class="text-2xl font-medium">About us</h2>

        <div class="flex flex-col mt-4">
          <router-link to="/" :class="[linkClasses]">About</router-link>
          <router-link to="/" :class="[linkClasses]">Press</router-link>
          <router-link to="/" :class="[linkClasses]">Jobs</router-link>
          <router-link to="/" :class="[linkClasses]">Partners</router-link>
        </div>
      </div>

      <div class="flex flex-col pb-16 xl:pb-0">
        <h2 class="text-2xl font-medium">Legal</h2>

        <div class="flex flex-col mt-4">
          <router-link to="/" :class="[linkClasses]">Claim</router-link>
          <router-link to="/" :class="[linkClasses]">Your privacy</router-link>
          <router-link to="/" :class="[linkClasses]">Terms of Use</router-link>
        </div>
      </div>

      <div class="flex flex-col mt-16 xl:mt-0">
        <h2 class="text-2xl font-medium">Subscribe to our newsletter</h2>

        <p class="max-w-sm leading-9 text-blue-300 mt-8 text-xl">The latest articles, sample packs and production techniques, sent to your inbox on a weekly basis.</p>

        <div class="flex flex-row mt-8 w-full">
          <input type="text" class="flex flex-grow h-12 w-64 text-blue-100 bg-gray-900 rounded-tl-lg rounded-bl-lg text-md pl-4" placeholder="Enter your e-mail" />

          <div class="flex w-32 justify-center items-center rounded-tr-lg rounded-br-lg px-4 bg-gray-800 text-white text-md">Subscribe</div>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-between items-center px-8 lg:px-20 xl:px-24 pb-32 pt-8">
      <div class="flex w-full flex-col flex-grow items-center md:flex-row justify-between text-xl text-gray-500 pt-12" style="border-top: 2px solid rgba(255, 255, 255, 0.2)">
        <span>&copy; Content is licensed under CC-BY-SA NC 4.0</span>

        <span class="flex flex-row text-gray-500 mt-10 md:mt-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 md:ml-4 h-9 w-9" viewBox="0 0 32 32"><path d="M 16 4 C 9.3844276 4 4 9.3844276 4 16 C 4 22.615572 9.3844276 28 16 28 C 22.615572 28 28 22.615572 28 16 C 28 9.3844276 22.615572 4 16 4 z M 16 6 C 21.534692 6 26 10.465308 26 16 C 26 21.027386 22.311682 25.161277 17.488281 25.878906 L 17.488281 18.916016 L 20.335938 18.916016 L 20.783203 16.023438 L 17.488281 16.023438 L 17.488281 14.443359 C 17.488281 13.242359 17.882859 12.175781 19.005859 12.175781 L 20.810547 12.175781 L 20.810547 9.6523438 C 20.493547 9.6093438 19.822688 9.515625 18.554688 9.515625 C 15.906688 9.515625 14.355469 10.913609 14.355469 14.099609 L 14.355469 16.023438 L 11.632812 16.023438 L 11.632812 18.916016 L 14.355469 18.916016 L 14.355469 25.853516 C 9.6088556 25.070647 6 20.973047 6 16 C 6 10.465308 10.465308 6 16 6 z" fill="currentColor"/></svg>

          <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 md:ml-4 h-9 w-9" viewBox="0 0 32 32"><path d="M 28 8.558594 C 27.117188 8.949219 26.167969 9.214844 25.171875 9.332031 C 26.1875 8.722656 26.96875 7.757813 27.335938 6.609375 C 26.386719 7.171875 25.332031 7.582031 24.210938 7.804688 C 23.3125 6.847656 22.03125 6.246094 20.617188 6.246094 C 17.898438 6.246094 15.691406 8.453125 15.691406 11.171875 C 15.691406 11.558594 15.734375 11.933594 15.820313 12.292969 C 11.726563 12.089844 8.097656 10.128906 5.671875 7.148438 C 5.246094 7.875 5.003906 8.722656 5.003906 9.625 C 5.003906 11.332031 5.871094 12.839844 7.195313 13.722656 C 6.386719 13.695313 5.628906 13.476563 4.964844 13.105469 C 4.964844 13.128906 4.964844 13.148438 4.964844 13.167969 C 4.964844 15.554688 6.660156 17.546875 8.914063 17.996094 C 8.5 18.109375 8.066406 18.171875 7.617188 18.171875 C 7.300781 18.171875 6.988281 18.140625 6.691406 18.082031 C 7.316406 20.039063 9.136719 21.460938 11.289063 21.503906 C 9.605469 22.824219 7.480469 23.609375 5.175781 23.609375 C 4.777344 23.609375 4.386719 23.585938 4 23.539063 C 6.179688 24.9375 8.765625 25.753906 11.546875 25.753906 C 20.605469 25.753906 25.558594 18.25 25.558594 11.742188 C 25.558594 11.53125 25.550781 11.316406 25.542969 11.105469 C 26.503906 10.410156 27.339844 9.542969 28 8.558594 Z"  fill="currentColor"/></svg>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {}
  },
  computed: {
    linkClasses () {
      return "flex flex-row mt-5 text-blue-500 hover:text-blue-300 transition-colors duration-200"
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.footer {
  background: linear-gradient(to bottom, #000020, #000000);
  background: #000016;
}
</style>
