<template>
  <nav class="navbar fixed w-screen left-0 top-0 transition-all" :class="[
    isTransparent ? 'h-28 md:h-28 lg:h-28 xl:h-28 2xl:h-48' : 'h-24 md:h-28',
    isTransparent ? 'bg-transparent' : 'bg-darker-blue',
  ]">
    <div class="flex px-8 md:px-10 lg:px-20 w-full h-full flex-row justify-between align-center">
      <div class="flex justify-start items-center">
        <img src="/images/logo.png" id="logo" class="h-12 w-12 lg:h-14 lg:w-14" />
        <span class="flex font-medium text-xl lg:text-3xl ml-5 lg:ml-8">World of Music</span>
      </div>

      <div class="flex xl:hidden hamburger flex h-full justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </div>

      <div class="hidden xl:flex justify-end items-center">
        <router-link to="/" class="ml-14 xl:ml-20 text-blue-500 cursor-pointer">Home</router-link>
        <router-link to="/" class="ml-14 xl:ml-20 cursor-pointer transition-color hover:text-blue-600 duration-100">
          Blog
        </router-link>
        <router-link to="/" class="ml-14 xl:ml-20 cursor-pointer transition-color hover:text-blue-600 duration-100">About Us</router-link>

        <router-link to="/" class="ml-14 xl:ml-20 cursor-pointer transition-color hover:text-blue-600 duration-100">Get in touch</router-link>

        <div class="flex py-2 px-4 ml-14 xl:ml-20 bg-blue-400 rounded-lg text-black cursor-pointer">Sign In</div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    isTransparent: Boolean,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@supports (backdrop-filter: none) {
  .navbar.bg-darker-blue {
    background: #000016BB;
  }
}

.navbar {
  backdrop-filter: blur(20px);
  //transition: background 0.1s linear;
}

.bg-darker-blue {
  background: #000016;
}

.bg-brighter-blue {
    //background: mix(#FFF, #00003d, 30%);
    background: lighten(#14144d, 0%);
  }

.navbar {
  z-index: 20000;

  .text-brandblue {
    color: brighten(#00003d, 80%);
  }
}
</style>
