<template>
  <Nav :isTransparent="isNavTransparent" />
  <router-view/>
  <Footer />
</template>

<script>
import Footer from './components/Footer'
import Nav from './components/Nav'

export default {
  name: 'App',
  components: {
    Nav,
    Footer,
  },

  computed: {
    isNavTransparent () {
      return this.$store.getters.isNavTransparent
    }
  },

  mounted () {
    window.addEventListener('scroll', _evt => {
      if (this.$store.getters.isNavTransparencyEnabled) {
        if (window.scrollY < 20) {
          if (!this.$store.getters.isNavTransparent) {
            this.$store.commit('SET_NAV_TRANSPARENT', true)
          }
        } else {
          this.$store.commit('SET_NAV_TRANSPARENT', false)
        }
      }
    })
  }
}
</script>

<style lang="scss">

@font-face {
    font-family: 'Basier';

    src: url('/fonts/basiercircle-regular-webfont.woff2') format('woff2'),
         url('/fonts/basiercircle-regular-webfont.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/fonts/basiercircle-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/basiercircle-regularitalic-webfont.ttf') format('truetype');

    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Basier';

    src: url('/fonts/basiercircle-medium-webfont.woff2') format('woff2'),
         url('/fonts/basiercircle-medium-webfont.ttf') format('truetype');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
         url('/fonts/basiercircle-semibold-webfont.ttf') format('truetype');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';

    src: url('/fonts/basiercircle-bold-webfont.woff2') format('woff2'),
         url('/fonts/basiercircle-bold-webfont.ttf') format('truetype');

    font-weight: 700;
    font-style: normal;
}

html, body, #app {
  //background: darken(#00003d, 10%);
}

#logo {
  z-index: 9500;
}

#app {
  width: 100vw;
  max-width: 100vw;
  //min-height: 300vh;
  margin: 0;
  padding: 0;
  background: mix(#FFF, #00003d, 12%);
  background: #000016;
  color: #EEE;
  font-size: 18px;
  font-family: 'Basier', Arial, sans-serif;
  overflow: hidden;
}

#nav {
  padding: 30px;

  a {
    font-weight: 700;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
